@{
    ViewData["Title"] = "Thông Tin Sinh Viên";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>Mã Sinh Viên: 2310900030</p>
    <p>Họ Và Tên: Nguyễn Quốc Duy</p>
    <p>Ngày sinh: 18/02/2005</p>
    <p>Email: yudnguyen2005@gmail.com</p>
    <p>SĐT: 0981652921</p>
    <p>Lớp: K23CNT2</p>
</div>
