@{
    ViewData["Title"] = "Thông Tin Sinh Viên";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>Mã Sinh Viên: 2310900030</p>
    <p>Họ Và Tên: Nguyễn Quốc Duy</p>
    <p>Ngày Sinh: 18/02/2005</p>
    <p>Email: Yudnguyen2005@gmail.com</p>
    <p>Điện Thoại: 0981652921</p>
    <p>Lớp: K23CNT2</p>
</div>

     